.signin-form {
  @apply rounded-lg bg-secondColor flex flex-col justify-evenly text-center;
  width: 267px;
  height: 475px;
}
.signin-button:disabled {
  @apply bg-fifthColor text-navbarColor mx-auto;
  width: 191px;
  height: 61px;
}
.signin-button {
  @apply transition duration-200 ease-linear bg-mainColor text-fifthColor mx-auto mb-5;
  width: 191px;
  height: 61px;
}
.second-title {
  @apply text-mainColor;
}
.form-container {
  @apply bg-tercerColor flex flex-col items-center justify-center px-10;
  height: 100vh;
  width: 100vw;
  color: white;
}
.register-div {
  @apply bg-secondColor flex items-center mt-10 px-4;
  width: 269px;
  height: 134px;
}

input {
  @apply bg-fourthColor mx-auto px-3 my-4;
  width: 191px;
  height: 61px;
}
h2 {
  @apply my-5;
}
h3 {
  @apply font-bold;
}
