<div class="div-body">
  <escroom-navbar></escroom-navbar>
  <main class="dashboard">
    <div class="dashboard-title">
      <h2>Dashboard</h2>
      <p>Complete rooms and upskill in security, all from your browser</p>
    </div>
    <div class="dashboard-div">
      <h3 class="title">Based on your experience</h3>
      <div *ngFor="let room of storeService.roomSubject$ | async">
        <div class="room-card">
          <a routerLink="/{{ room.name | lowercase }}">
            <img
              src="https://www.hackthebox.com/storage/avatars/11680a85eaa657026b92b815be86e366.png"
              alt="nodejs Image"
              class="room-card__img"
            />
            <div class="room-card__description">
              <h3 class="room-card__title">{{ room.name }}</h3>
              <p>In Javascript everything is a terrible mistake.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="dashboard-div">
      <h3 class="title">Feature</h3>
      <div *ngFor="let room of storeService.roomSubject$ | async">
        <div class="room-card">
          <a routerLink="/{{ room.name | lowercase }}">
            <img
              src="https://www.hackthebox.com/storage/avatars/11680a85eaa657026b92b815be86e366.png"
              alt="nodejs Image"
              class="room-card__img"
            />
            <div class="room-card__description">
              <h3 class="room-card__title">{{ room.name }}</h3>
              <p>In Javascript everything is a terrible mistake.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
