<div class="div-body">
  <escroom-navbar></escroom-navbar>
  <main class="main-room-div">
    <div class="main-room-title">
      <img
        src="https://www.hackthebox.com/storage/avatars/11680a85eaa657026b92b815be86e366.png"
        width="100"
        height="100"
        alt="node image"
      />
      <h2>Node</h2>
      <p>In JavaScript everything is a terrible mistake.</p>
    </div>
    <div class="game-div">
      <div class="game-div--start">
        <p>Start the game</p>
        <button class="button-icon">
          <fa-icon [icon]="faStart" class="icon--send"></fa-icon>
        </button>
      </div>
      <div class="game-div--start">
        <input type="text" disabled placeholder="No answer needed" />
        <button class="button-icon">
          <fa-icon [icon]="faSend" class="icon--send"></fa-icon>
        </button>
      </div>
    </div>
    <div class="question-div">
      <div
        *ngFor="let question of storeService.questionSubject$ | async"
        class="question-card"
      >
        <h3 class="question-card__title">{{ question.question }}</h3>
        <div class="question-card--description">
          <input type="text" placeholder="{{ func(question.answer) }}" />
          <button class="button-icon">
            <fa-icon [icon]="faSend" class="icon--send"></fa-icon>
          </button>
          <button class="button-icon">
            <fa-icon [icon]="faHint" class="icon--hint"></fa-icon>
          </button>
          <!-- <p>{{ question.hint }}</p> -->
        </div>
      </div>
      <div class="button-add" (click)="toCreate()">ADD</div>
      <div *ngIf="tocreate" class="form-div">
        <form
          [formGroup]="questionForm"
          (ngSubmit)="onCreate()"
          class="signin-form"
        >
          <h2>Submit your question</h2>
          <input
            type="text"
            formControlName="question"
            placeholder="Question"
          />
          <input type="text" formControlName="answer" placeholder="Answer" />
          <input type="text" formControlName="hint" placeholder="Hint" />
          <button [disabled]="questionForm.invalid" class="create-button">
            Create
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
